{
    "presets": [
      [
        "env",
        {
          "targets": {
            "node": "current",
            "browsers": [
              "last 2 versions",
              "ios 9"
            ]
          },
          "modules": "commonjs",
          "loose": true
        }
      ],
      "react"
    ],
    "plugins": ["transform-object-rest-spread"]
  }
